<template name="discussionLayout">
  <div class="container">
    <div class="">
      <img  style="height: 200px; width:100%" src="/images/slide-01.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div>
            <h3 class="">上海苗圃创业俱乐部</h3>
          </div>
          <div>
            <p>
              <a href="{{ pathFor 'start'}}">
                <span class="glyphicon glyphicon-pencil">发起讨论</span>
              </a>
            </p>
          </div>
          <hr style="background: #777">
        </div>
      </div>
    </div>
  </div>
</template>

<!--<template name="discussionHeader">-->
  <!--<tr>-->
    <!--<td>1</td>-->
    <!--<td>Anna</td>-->
    <!--<td>Pitt</td>-->
    <!--<td>35</td>-->
    <!--<td>New York</td>-->
    <!--<td>USA</td>-->
  <!--</tr>-->
  <!--{{> listDiscussion}}-->
<!--</template>-->
