
<template name="listDiscussion">
  <div class="table-responsive">
      {{#each listDiscussions}}
          {{> itemDiscussion}}
      {{/each}}
    <!--<table class="table">
      <thead>
      <tr>
        <th>话题</th>
        <th>内容</th>
        <th>发起人</th>
        <th>回复</th>
        &lt;!&ndash;<th>浏览</th>&ndash;&gt;
        &lt;!&ndash;<th>最后回复</th>&ndash;&gt;
        <th>发布时间</th>
      </tr>
      </thead>
      <tbody>
      {{#each listDiscussions}}
        {{> itemDiscussion}}
    {{/each}}
      </tbody>
    </table>-->
  </div>
</template>
