<template name="firstPage">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="/images/slide-01.jpg" alt="">
        <div class="container">
          <div class="carousel-caption" data-animation="fadeInRightBig">
            <h1>Example headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Sign up today</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slide-02.jpg" alt="">
        <div class="container">
          <div class="carousel-caption " data-animation="fadeInRightBig">
            <h1>Another example headline.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="item">
        <img src="/images/slide-03.jpg" alt="">
        <div class="container">
          <div class="carousel-caption" data-animation="fadeInRightBig">
            <h1>One more for good measure.</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
          </div>
        </div>
      </div>
    </div>

  </div><!-- /.carousel -->
  <div class=" container">
    <div class="row">
      <div class="col-md-3 titlecontent">
        <img src="/images/502055393895763_v2small.jpg">
        <h2>this is test</h2>
      </div>
      <div class="col-md-3 titlecontent" >
        <img src="/images/672062716647958_v2small.jpg"></div>
      <div class="col-md-3 titlecontent">
        <img src="/images/712046960531624_v2small.jpg">
      </div>
      <div class="col-md-3 titlecontent">
        <img src="/images/932079459615410_v2small.jpg">
      </div>
      <div class="col-md-3 titlecontent">
        <img src="/images/502055393895763_v2small.jpg">
      </div>
      <div class="col-md-3 titlecontent">
        <img src="/images/672062716647958_v2small.jpg">
      </div>
      <div class="col-md-3 titlecontent">
        <img src="/images/712046960531624_v2small.jpg">
      </div>
      <div class="col-md-3 titlecontent">
        <img src="/images/932079459615410_v2small.jpg">
      </div>
    </div>
  </div>
</template>
