<template name="page2">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-8 btn-info">.col-xs-12 .col-sm-6 .col-md-8</div>
      <div class="col-xs-6 col-md-4 btn-warning">.col-xs-6 .col-md-4</div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4  col-md-4 btn-success">.col-xs-6 .col-sm-4</div>
      <div class="col-xs-6 col-sm-4  btn-primary">.col-xs-6 .col-sm-4</div>
      <!-- Optional: clear the XS cols if their content doesn't match in height -->
      <div class="clearfix visible-xs-block"></div>
      <div class="col-xs-6 col-sm-4 btn-warning">.col-xs-6 .col-sm-4</div>
    </div>
  </div>

  <hr style="height: 2px; color: #222222">

  <div class="container">
    <div class="row btn-success">
      <div class="col-sm-9">
        Level 1: .col-sm-9
        <div class="row btn-danger">
          <div class="col-xs-8 col-sm-6">
            Level 2: .col-xs-8 .col-sm-6
          </div>
          <div class="col-xs-4 col-sm-6">
            Level 2: .col-xs-4 .col-sm-6
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr style="height: 2px; color: #222222">

  <div class=" container">
    <div class="row">
      <div class="col-md-9 col-md-push-3">.col-md-9 .col-md-push-3</div>
      <div class="col-md-3 col-md-pull-9">.col-md-3 .col-md-pull-9</div>
    </div>
  </div>


  <div>

  </div>
</template>
